.boxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.boxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 2px solid #98a2b3;
  border-radius: 100%;
  background-color: #eee;
}

.boxContainer input:checked ~ .checkmark {
  background-color: #f5980c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxContainer input:checked ~ .label {
  /* color: #f5980c; */
  text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.boxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.boxContainer .checkmark:after {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 100%;
  background-color: #f5980c;
}
